@import url('https://fonts.googleapis.com/css?family=Germania+One:100,200,300,400,500,600,700|Bitter:100,200,300,400,500,600,700');

/*----------------COLORS---------*/

.bg-logo {
    background-color: blue;
    background: rgba(0, 0, 0, 0.5);
    
}

.bg-menu {
    background-color: blue;
    background: rgba(0, 0, 0, 0.5);
}

.button-bg-color {
    background-color: blue;
    background: rgba(0, 0, 0, 0.0);
}



/*----------------FONTS----*/

.buttonfont {
    font-family: 'Germania One', cursive;
    margin: 0;
    padding-bottom: 0;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.footerfont {
    font-family: 'Bitter', serif;
    color: white;
    font-size: larger;
}

.sectiontext {

    font-family: 'Bitter', serif;
    color: black;
    font-size: larger;

}

h1 {
    font-family: 'Germania One', cursive;
    color: white;
    text-shadow: -1px 0 darkred, 0 1px darkred, 1px 0 darkred, 0 -1px darkred;
    text-transform: capitalize;
    font-size: xxx-large;
}

header {
    margin: 0;
    max-width: 100%;
}

/*---------------TOP LOGO PROPERTIES----*/

.mainlogo {
    position: relative;
    top: 50%;
    left: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transform: translate(-50%, -50%);
    max-width: 103%;
}


.list-inline-item:not(:last-child) {
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
    padding-bottom: 0;
}

#nav li {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menuitem {
    margin-bottom: 0;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menuitem span {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.home-section {
    background: url(../images/Fleetwoodback4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.media-section {
    background-color: darkred;
}

body {
    background-color: transparent;
}

.sectionplacement {
    padding-top: 150px;
    padding-left: 50px;
    background-color: transparent;

}

@media screen and (max-width: 767px) {
    .sectionplacement {
        padding-top: 350px;
        padding-left: 20px;
        background-color: transparent;

    }
}


.footercenter {
    text-align: center;
}

.footerright {
    text-align: right;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media screen and (max-width: 767px) {
    .fixed-top {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
