@import url('https://fonts.googleapis.com/css?family=Germania+One:100,200,300,400,500,600,700|Source+Sans+Pro:100,200,300,400,500,600,700');

/*----------------COLORS---------*/

.bg-logo {
    background-color: blue;
background: rgba(0, 0, 0, 0.5);
    
}

.bg-menu {
    background-color: blue;
   background: rgba(0, 0, 0, 0.5);
}

.button-bg-color {
    background-color: blue;
  background: rgba(0, 0, 0, 0.0);
}



/*----------------FONTS----*/

.buttonfont {
    font-family: 'Germania One', cursive;
    margin: 0;
    padding-bottom: 0;
    color: white;
    text-shadow: -1px 0 darkred, 0 1px darkred, 1px 0 darkred, 0 -1px darkred;
}

.footerfont {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

header {
    margin: 0;
    max-width: 100%;
}



.mainlogo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
}


.list-inline-item:not(:last-child) {
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
    padding-bottom: 0;
}

#nav li {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menuitem {
    margin-bottom: 0;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menuitem span {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
}

html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-color: transparent;
}

.sectionplacement {
    padding-top: 150px;
    padding-left: 50px;
    background-color: transparent;
    
}

@media screen and (max-width: 767px) {
  .sectionplacement {
    padding-top: 350px;
    padding-left: 20px;
    background-color: transparent;
    
}
}


.footercenter {
    text-align: center;
}

.footerright {
    text-align: right;
}