@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:700|Josefin+Sans:600|Fjalla+One|Libre+Franklin:400,600');

html {
    scroll-behavior: smooth;
}



.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media screen and (max-width: 769px) {
    .fixed-top {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/*----------------COLORS---------*/

.bg-logo {
    background-color: blue;
    background: rgba(0, 0, 0, 0.5);

}

.bg-menu {
    background-color: blue;
    background: rgba(0, 0, 0, 0.5);
}

.button-bg-color {
    background-color: blue;
    background: rgba(0, 0, 0, 0.0);
}



/*----------------FONTS----*/

.buttonfont {
    font-family: 'Josefin Slab', serif;
    margin: 0;
    padding-bottom: 0;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.footerfont {
    font-family: 'Bitter', serif;
    color: white;
    font-size: larger;
}

.sectiontext {

    font-family: 'Bitter', serif;
    color: black;
    font-size: larger;

}

.sectiontext2 {

    font-family: 'Bitter', serif;
    color: white;
    font-size: larger;

}

.headerred {
    font-family: 'Fjalla One', sans-serif;
    color: darkred;

    text-transform: capitalize;
    font-size: 60px;
    font-weight: 600;
    text-align: center;

}

.headeryellow {
    font-family: 'Fjalla One', sans-serif;
    color: #fdf2c8;

    text-transform: capitalize;
    font-size: 60px;

    text-align: center;
}

header {
    margin: 0;
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;

    margin: 1em 0;
    padding: 0;
}

.hrred {
    border-top: 3px solid darkred;
}

.hryellow {
    border-top: 3px solid #fdf2c8;

}

/*TOP LOGO PROPERTIES----*/

.mainlogo {

    position: relative;
    top: 50%;
    left: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    transform: translate(-50%, -50%);
    max-width: 103%;

}

/*---------------BUTTON GROUP----*/

.list-inline-item:not(:last-child) {
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
    padding-bottom: 0;
    padding-right: 25px;
}

#nav li {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menuitem {
    margin-bottom: 0;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

}

.menuitem span {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-outline-danger {
    color: darkred;
    background-color: #fdf2c8;
    background-image: none;
    border-color: darkred;
}

.btn-outline-danger:hover {
    color: #fdf2c8;
    background-color: darkred;
    border-color: #fdf2c8;
}

.centerbutton {

    margin: 0 auto;
    display: block;
    max-width: 40%;
}

/*---------------HOME SECTION----*/

.sectionplacement1 {
    background: url(../images/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 130px;

}

@media screen and (max-width: 767px) {
    .sectionplacement1 {
        background: url(../images/background2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 350px;

    }
}

@media screen and (min-width: 1200px) {
    .sectionplacement1 {

        padding-top: 150px;

    }
}


/*---------------MEDIA SECTION----*/

.penguins {

    position: relative;

    text-align: center;

    max-width: 103%;
    margin-left: 20%;
}

@media screen and (max-width: 1200px) {
    .penguins {

        position: relative;

        text-align: center;
        margin-top: 15px;
        margin-left: 10%;
        max-width: %;
    }
}

.media-section {
    background-image: url(../images/Background7.jpg);
    background-repeat: repeat;
}


.sectionplacement2 {
    padding-top: 20px;
    background-image: url(../images/Background7.jpg);
    background-repeat: repeat;


}

.moviealign {
    text-align: center;

}

.outnow {
    text-align: center;
}

/*--------------GALLERY CSS----*/

.gallery {
    margin: 0 auto;
    text-align: center;
}

.gallery img {
    transition: 0.3s;
    padding: 5px;
    width: 110px;
    margin: 0 auto;

}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);

}

/*--------------BAND-SECTION----*/

.sectionplacement3 {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20px;

}

@media screen and (max-width: 769px) {
    .sectionplacement3 {
        background: url(../images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 350px;

    }
}

.justifytext {
    text-align: justify;
}


.member {
    max-width: 100px;
    text-align: right;
    border-radius: 5%;
}

/*---------------TOUR SECTION----*/

.tour-section {
    background-image: url(../images/Background7.jpg);
    background-repeat: repeat;
}


.sectionplacement4 {
    padding-top: 20px;


    padding-bottom: 50px;
    background-color: darkred;

}

body {
    background-color: transparent;
}

.tourborder {
    border-width: 3px;
    border-style: solid;
    border-color: #fdf2c8;
}


/*--------------BOOK-SECTION----*/

.sectionplacement5 {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20px;

}

@media screen and (max-width: 769px) {
    .sectionplacement5 {
        background: url(../images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 350px;

    }
}

input {
    width: 100%;

}

.comment {
    width: 100%;
    height: 150px;
     
    resize: none;
}

.names {
    width: 50%;
   
    
}

.spread {
    display: flex;
}

/*--------------FOOTER----*/

.footerfont {
    
    position: relative;
    margin-top: -5em;
    bottom: 0px;
    left: 0;
    background-color: black;
    background: rgba(0, 0, 0, 0.1)
    
    
       
    
}

.footercenter {
    text-align: center;
}

.footerright {
    text-align: right;
}

.social-links {
    padding-bottom: 50px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background-color: #e84610;